.card {
  padding: 10px;
  margin: 20px;
  color: #d3c5b8;
  position: relative;
  background-image: linear-gradient(black, rgb(26, 26, 26));
  width: 15%;
  min-width: 250px;
  transition: 0.3s ease-in;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-image: linear-gradient(rgb(26, 26, 26), red);
  transform: scale(1.05);
}
.card h1,
.cardp {
  width: fit-content;
  margin: auto;
  font-size: larger;
  align-self: center;
}

.card img {
  display: block;
  margin: auto;
  height: 75%;
  object-fit: cover;
}
