.hero {
  background-image: url("../../../public/background_about2.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  font-size: 10rem;
  text-align: center;
  align-self: center;
  text-shadow: black 4px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.aboutus .section-title {
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: black;
}

.aboutus h2 {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: black;
}

.aboutus h3 {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.aboutus .in {
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.member {
  width: 90%;
  margin: auto;
  padding: 1rem;
  height: 50vh;
  border: black solid 2px;
  margin-bottom: 1rem;
}
.description {
  font-size: 1.2rem;
  text-align: justify;
  width: 40%;
}
.member h3,
.description {
  text-align: left;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
