@tailwind base;
@tailwind components;
@tailwind utilities;

/* Muted Teal: #8AB8A8
Charcoal Gray: #333333
Light Stone Gray: #E0E0E0
Steel Blue: #5A738E
Soft Beige: #D3C5B8 

Midnight Blue: #2C3E50
Charcoal Gray: #34495E
Deep Teal: #1B3A4B
Maroon: #4B1D3F
Obsidian Black: #1C1C1C
Light Tones:
Ivory White: #F9F9F9 
Powder Blue: #D9E6F2
Soft Mint: #D4EDE4
Blush Pink: #FAD4D8
Pale Gold: #F7E4C4
*/
.login {
	background-color: #f7e4c4;
}
* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
*:before,
*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
body::-webkit-scrollbar {
	display: none;
}
.beige {
	color: #d3c5b8;
}
.gray {
	background-color: #333333;
}
body {
	background-color: #e0e0e0;
}
nav {
	border-bottom: solid 4px black;
	position: relative;
	justify-content: space-between;
	display: flex;
	width: 100%;
	background-color: #333333;
	height: 4rem;
	align-items: center;
}

nav a {
	position: relative;
	color: #d3c5b8;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
	margin-right: 20px;
	padding: 10px 10px;
	transition: 0.5s;
	text-shadow: 1px 2px 5px black;
}
nav a:hover {
	color: #5a738e;
}
nav a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(0) translateY(50px);
	border-radius: 15px;
	border-bottom: #5a738e 4px solid;
	transition: 0.5s;
}
nav a.active {
	color: #5a738e;
}
nav a.active span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1) translateY(0);
	border-radius: 15px;
	border-bottom: #5a738e 4px solid;
}
nav a:hover span {
	transform: scale(1) translateY(0);
}
nav h1 {
	color: #d3c5b8;
	margin-left: 10px;
}
nav ul {
	display: flex;
}
nav li {
	list-style: none;
}

.menu {
	width: auto;
}

.logo {
	width: 5%;
	margin: 10px;
	border-radius: 25%;
}
.LoginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	padding: 10px;
	margin: 20px;
	color: #0e191f;
	position: relative;
	background-color: #7b6d62;
	width: 15%;
	height: fit-content;
	transition: 0.5s;
	border-radius: 15px;
}
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
.cards .card span:after {
	box-shadow: 5px 5px 5px gray;
	content: "";
	width: 100%;
	height: 100%;
	background-image: conic-gradient(from var(--angle), #3d606e, #090f13);
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	z-index: -1;
	border-radius: 15px;
	padding: 5px;
	animation: 3s spin linear infinite;
}

.cards .card span::before {
	filter: blur(3rem);
}

.card h2,
p {
	width: fit-content;
	margin: auto;
	padding: 5px;
}

.card button {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
	color: white;
	background-color: green;
}
@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

.card img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

section {
	display: flex;
	width: 80%;
	height: 50vh;
	background-color: #d3c5b8;
	border-radius: 15px;
	border: 2px solid #0e191f;
	box-shadow: #0e191f 10px 5px;
	margin: 2rem auto;
	padding: 2rem;
	justify-content: space-between;
}
section h1 {
	font-size: 4rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-shadow: #7b6d62 3px 1px;
}

section h3 {
	font-size: 1.5rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section button {
	margin: 1.5rem 0;
	padding: 1.1rem;
	background-color: darkorange;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	color: #0e191f;
	font-size: 1.3rem;
}
section button:hover {
	padding: 1.1rem;
	background-color: #0e191f;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	color: darkorange;
	font-size: 1.3rem;
	transition: 0.5s;
}
