@tailwind base;
@tailwind components;
@tailwind utilities;

/* Muted Teal: #8AB8A8
Charcoal Gray: #333333
Light Stone Gray: #E0E0E0
Steel Blue: #5A738E
Soft Beige: #D3C5B8 

Midnight Blue: #2C3E50
Charcoal Gray: #34495E
Deep Teal: #1B3A4B
Maroon: #4B1D3F
Obsidian Black: #1C1C1C
Light Tones:
Ivory White: #F9F9F9 
Powder Blue: #D9E6F2
Soft Mint: #D4EDE4
Blush Pink: #FAD4D8
Pale Gold: #F7E4C4
*/
.login {
  background-color: #ffffff;
}
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body::-webkit-scrollbar {
  display: none;
}
.beige {
  color: #d3c5b8;
}
.gray {
  background-color: #333333;
}
body {
  background-color: #e0e0e0;
}

.menu {
  width: auto;
}
